ul {
  padding: 0;
  width: 15%;
}

.home {
  display: flex;
  align-items: center;
}

img {
  width: 40px;
  height: 40px;
}
.text {
  font-size: 12px;
  align-items: center;
}

@media screen and (max-width: 1330px) {
  .menu {
    width: 72px;
  }
  .home {
    display: inline;
  }
}
